body {
    font-family: 'Open Sans';
    background-color: #F5F5F5!important;
}

.navbar-header {
    position: sticky;
    left: 0;
    top: 0;
}
#nav a{
   
    color: #090076;
    cursor: pointer;
    transition:all 0.3s ease;   
}
#nav a:hover {
  text-decoration:underline;
}

#istad {
    width: 80px;
    height: 80px;
    left: 123px;
    top: 43px;
    margin-right: 20px;
}

.logo {
    display: flex;
    padding: 20px;
}


#longin {
    box-sizing: border-box;
    width: 116px;
    height: 41px;
    background: #FFFFFF;
    border: 2px solid #090076;
    border-radius: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400px;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    justify-content: center;
}

#signup {
    box-sizing: border-box;
    width: 116px;
    height: 41px;
    background: #090076;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    font-weight: 400px;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.email {
    display: flex;
    padding: 10px;
}

#imgshow {
    width: 80%;
}

.headerbody {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo1 img {
    width: 90%;
}

.photo1 {
    margin-left: 12rem;
}

#search {
    border: 3px solid #090076;
    border-radius: 64px;
    box-sizing: border-box;
    width: 499px;
    height: 44px;
    padding: 10px;
    padding: 10px;
    top: 52.28px;
}

#btnsearch {
    padding: 15px;
    min-width: 40px;
}

.subicon {
    display: flex;
    padding: 10px;
}

.icon2 {
    margin-left: 60px;
}

.icon4 {
    margin-left: 30px;
}

.icon1 i {
    color: #FF0505;
    padding: 5px;
}

.icon3 i {
    padding: 5px;
    color: #05A5FF;
}

.icon2 i {
    padding: 5px;
    color: #55FF05;
}

.icon4 i {
    padding: 5px;
    color: #0A05FF;
}

.subtitile {
    margin-left: 10rem;
}

#discover {
    height: 70.04px;
    background: #090076;
    padding: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
    color: #FFFFFF;
    margin-left: 40px;
}

.style-search {
    position: absolute;
    margin-top: 10px;
    margin-left: 30px;
}

.style-item-icon {
    position: absolute;
    margin-top: 14px;
    margin-left: 10px;
}

.style-item {
    overflow: hidden;
    transition: 0.5s ease;
}

.style-item:focus~.style-item-icon,
.style-item:focus~.style-search {
    visibility: hidden;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.mb-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.nav-pills {
    background: rgba(160, 157, 157, 0.2);
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 10px;
}

.me-sm-5 {
    box-sizing: border-box;
    width: 263.8px;
    height: 48.39px;
    /* border: 1px solid #201F1F; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    /* background: #A09D9D 20%; */
}

.badge {
    width: 78px;
    height: 22.86px;
    background: #D9D9D9;
    border-radius: 5px;
    font-weight: 400;
    font-size: 10px;
    color: #090076!important;
    text-decoration: none;
}

.card-title a {
    color: #000000!important;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
}

.card-title {
    list-style-type: none;
}

.fa-table {
    color: #EF9610;
}

.fs-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxmg1 {
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    border: 2px dashed #000000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxmg1 img {
    width: 50%;
    height: 50%;
}

.boxmg2 {
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    border: 2px dashed #000000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxmg2 img {
    width: 50%;
    height: 50%;
}

.boxmg3 {
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    border: 2px dashed #000000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxmg3 img {
    width: 50%;
    height: 50%;
}

.boxmg4 {
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    border: 2px dashed #000000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxmg4 img {
    width: 50%;
    height: 50%;
}

.minimg1 {
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boximg1 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.minimg2 {
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boximg2 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.minimg3 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boximg3 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.minimg4 {
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boximg4 img {
    width: 100%;
    height: 50%;
    border-radius: 50%;
}

#job {
    display: flex;
    justify-content: center;
}



#caption {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.inputemail {
    border: 1px solid #090076;
    border-radius: 10px;
    width: 513px;
    height: 40px;
    margin: 10px;
}

.emailinfor {
    display: flex;
    justify-content: center;
}

.btn-primary {
    height: 40px;
    margin-top: 10px;
}
/* ----footer---- */

footer{
    margin-top: 100px;
    width: 100%;
    height: 310px;
    background-color: #090076;
    color: white;
    
  
  }
  .footer1{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
  }
  .footer1 img {
    width: 95px;
    height: 95px;
  }
  .footer1 h5 {
    padding-top: 10px;
  }
  .Fol-btn button {
    background-color: white;
    color: black;
    border-radius: 5px;
    width: 160px;
    padding: 5px;
  }
  .Fol-btn i{
    padding-right: 20px;
  }
  .Fol-btn button:hover{
   background-color:aliceblue;
  }
  
  footer h6{

    text-align: center;
       
  }
  


@media (min-width:320px) and (max-width:567px) {
    footer{
        height: 220px;
    }
    .Fol-btn button{
        width: 100px;
        font-size: 10px;
    }
    .Fol-btn i{
        padding-right: none;
      }
    footer h6{
        font-size: small;
    }
    #search {
        width: 250px;
    }
    .navbar-expand-lg {
        display: flex;
        justify-content: space-between;
    }
    #longin {
        width: 50px;
        padding: 5px;
        font-size: 10px;
    }
    .photo1 img {
        width: 90%;
    }
    .photo1 {
        margin-left: 20px
    }
    #signup {
        width: 50px;
        padding: 5px;
        font-size: 10px;
    }
    .subtitile h1 {
        font-size: 25px;
    }
    .subtitile {
        margin-left: 1px
    }
    .subtitile p {
        margin: 3px;
    }
    .icon1 {
        font-size: 22px;
        padding: 1px;
    }
    .icon2 {
        font-size: 22px;
    }
    .icon3 {
        font-size: 22px;
    }
    .icon4 {
        font-size: 22px;
    }
    #discover {
        height: 60px;
        display: flex;
        align-items: center;
    }
    .me-sm-5 {
        width: 100%;
    }
    .boxmg1 {
        width: 330px;
        height: 330px;
        margin-right: 10px;
    }
    .boxmg2 {
        width: 330px;
        height: 330px;
        margin-right: 10px;
    }
    .boxmg3 {
        width: 330px;
        height: 330px;
        margin-right: 10px;
    }
    .boxmg4 {
        width: 330px;
        height: 330px;
        margin-right: 10px;
    }
    .slide-play {
        height: 300px
    }
    #fs-2 {
        margin-bottom: 7rem
    }
    .minimg1 {
        margin-bottom: 15rem
    }
    .minimg2 {
        margin-bottom: 15rem
    }
    .minimg3 {
        margin-bottom: 15rem
    }
    .footer1 img {
        width: 50px;
        height: 50px;
    }
    .footer1 h3 {
        font-size: 15px;
    }
    .footer1 h5 {
        font-size: 13px;
    }
    .footer1 h6 {
        font-size: 10px;
    }
    .btn-primary {
        /* font-size: 5px; */
        height: 50px;
    }
}

@media (min-width:568px) and (max-width:1024px) {
    #search {
        width: 250px;
    }
    .navbar-expand-lg {
        display: flex;
        justify-content: space-between;
    }
    #longin {
        width: 50px;
        padding: 5px;
        font-size: 10px;
    }
    #signup {
        width: 50px;
        padding: 5px;
        font-size: 10px;
    }
    .subtitile h1 {
        font-size: 25px;
    }
    .subtitile {
        margin-left: 1px
    }
    .subtitile p {
        margin: 3px;
    }
    .icon1 {
        font-size: 22px;
        padding: 1px;
    }
    .icon2 {
        font-size: 22px;
    }
    .icon3 {
        font-size: 22px;
    }
    .icon4 {
        font-size: 22px;
    }
    #discover {
        height: 60px;
        display: flex;
        align-items: center;
    }
    .me-sm-5 {
        width: 200px;
    }
    .boxmg1 {
        width: 250px;
        height: 250px;
        margin-right: 10px;
    }
    .boxmg2 {
        width: 250px;
        height: 250px;
        margin-right: 10px;
    }
    .boxmg3 {
        width: 250px;
        height: 250px;
        margin-right: 10px;
    }
    .boxmg4 {
        width: 250px;
        height: 250px;
        margin-right: 10px;
    }
    .slide-play {
        height: 600px
    }
    .minimg1 {
        margin-bottom: 8rem
    }
    .minimg2 {
        margin-bottom: 8rem
    }
    /* .minimg3 {
        margin-bottom: 2rem
    }
    .minimg4 {
        margin-bottom: 2rem
    } */
}

@media (min-width:1025px) and (max-width:1124px) {
    #search {
        width: 250px;
    }
    .navbar-expand-lg {
        display: flex;
        justify-content: space-between;
    }
    #longin {
        width: 90px;
        padding: 5px;
    }
    #signup {
        width: 90px;
        padding: 5px;
    }
    .subtitile h1 {
        font-size: 25px;
    }
    .subtitile {
        margin-left: 1px
    }
    .subtitile p {
        margin: 3px;
    }
    .icon1 {
        font-size: 22px;
        padding: 1px;
    }
    .icon2 {
        font-size: 22px;
    }
    .icon3 {
        font-size: 22px;
    }
    .icon4 {
        font-size: 22px;
    }
    #discover {
        height: 60px;
        display: flex;
        align-items: center;
    }
    .me-sm-5 {
        width: 160px;
    }
    .boxmg1 {
        width: 230px;
        height: 230px;
        margin-right: 10px;
    }
    .boxmg2 {
        width: 230px;
        height: 230px;
        margin-right: 10px;
    }
    .boxmg3 {
        width: 230px;
        height: 230px;
        margin-right: 10px;
    }
    .boxmg4 {
        width: 230px;
        height: 230px;
        margin-right: 10px;
    }
    .slide-play {
        height: 600px
    }
}

@media (min-width:1125px) and (max-width:1200px) {
    #search {
        width: 250px;
    }
    .navbar-expand-lg {
        display: flex;
        justify-content: space-between;
    }
    #longin {
        width: 90px;
        padding: 5px;
    }
    #signup {
        width: 90px;
        padding: 5px;
    }
    .subtitile h1 {
        font-size: 25px;
    }
    .subtitile {
        margin-left: 1px
    }
    .subtitile p {
        margin: 3px;
    }
    .icon1 {
        font-size: 22px;
        padding: 1px;
    }
    .icon2 {
        font-size: 22px;
    }
    .icon3 {
        font-size: 22px;
    }
    .icon4 {
        font-size: 22px;
    }
    #discover {
        height: 60px;
        display: flex;
        align-items: center;
    }
    .me-sm-5 {
        width: 160px;
    }
    .boxmg1 {
        width: 230px;
        height: 230px;
        margin-right: 10px;
    }
    .boxmg2 {
        width: 230px;
        height: 230px;
        margin-right: 10px;
    }
    .boxmg3 {
        width: 230px;
        height: 230px;
        margin-right: 10px;
    }
    .boxmg4 {
        width: 230px;
        height: 230px;
        margin-right: 10px;
    }
    .slide-play {
        height: 600px
    }
}